html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.content {
  position: absolute;
  left: 50%
  transform: translateX(-50%);
  bottom: 0;
  width: 50em;
  overflow: hidden;

}

.content h2 {
  font-size: 4rem;
  font-style: bold;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.content p{
  font-size: 2rem;
  font-style: italic;
}

.banner {
  position: relative;
  height: 500px;
}

.banner img {
  width: 100%;
  display: flex;
  max-height: 1.5rem;
}
